mixin listItem(text, filename)
    li(class=`${file == filename ? 'active blue' : ''}`): a.waves-effect(href=`/${filename}.html`) #{text}
mixin collapsible(text, root)
    a(class=`${'collapsible-header waves-effect ' + (rootdir == root ? 'active' : '')}`) #{text}
- if(file != 'index')
    .navbar-fixed
        nav.blue
            .container
                .nav-wrapper
                    .row
                        .col.offset-s1
                            a(href='/').brand-logo Blueberry.js
                            a.button-collapse(href='#', data-activates='main-menu')
                                i.material-icons menu
ul.side-nav.fixed#main-menu
    li.logo
        a(href='/' class='brand-logo' style='height: 150px;')
            img(src='/assets/images/blueberry.svg' width='150' style='margin-left:30px;margin-top: -60px;')
    li
        ul
            +listItem('Getting Started', 'getting-started')
        ul.collapsible.collapsible-accordion
            li
                //- JavaScript Api
                +collapsible('JavaScript Api', 'api/js')
                .collapsible-body
                    ul
                        +listItem('Blueberry', 'api/js/blueberry')
                        +listItem('BlueberryObject', 'api/js/blueberry-object')
                        +listItem('Ajax', 'api/js/ajax')
                        +listItem('Components', 'api/js/component')
                        +listItem('Services', 'api/js/service')
            li
                //- HTML API
                +collapsible('HTML Api', 'api/html')
                .collapsible-body
                    ul
                        +listItem('Components', 'api/html/component')
            li
                //- Examples
                +collapsible('Examples', 'examples')
                .collapsible-body
                    ul
                        +listItem('Ajax', 'examples/ajax')
                        +listItem('Clock', 'examples/clock')
                        +listItem('Timer', 'examples/timer')
                        +listItem('Template', 'examples/template')
                        +listItem('Component Color Changer', 'examples/component-toggle')
                        +listItem('Attribute Color Changer', 'examples/attributes')
                        +listItem('Observable', 'examples/observe')
                        +listItem('Interval', 'examples/interval')