mixin listItem(text, filename)
    li(class=`${file == filename ? 'active blue' : ''}`): a.waves-effect(href=`/${filename}.html`) #{text}
mixin collapsible(text, root)
    a(class=`${'collapsible-header waves-effect ' + (rootdir == root ? 'active' : '')}`) #{text}
- if(file != 'index')
    .navbar-fixed
        nav.blue
            .container
                .nav-wrapper
                    .row
                        .col.offset-s1
                            a(href='/').brand-logo Blueberry.js
                            a.button-collapse(href='#', data-activates='main-menu')
                                i.material-icons menu
ul.side-nav.fixed#main-menu
    li.logo
        a(href='/' class='brand-logo' style='height: 150px;')
            img(src='/assets/images/blueberry.svg' width='150' style='margin-left:30px;margin-top: -60px;')
    li
        ul
            +listItem('Getting Started', 'getting-started')
        ul.collapsible.collapsible-accordion
            li
                //- JavaScript Api
                +collapsible('Core Api', 'api/core')
                .collapsible-body
                    ul
                        +listItem('Blueberry',       'api/core/blueberry')
                        +listItem('BlueberryObject', 'api/core/blueberry-object')
                        +listItem('Ajax',            'api/core/ajax')
                        +listItem('Components',      'api/core/component')
                        +listItem('Services',        'api/core/service')
            li
                //- HTML API
                +collapsible('Dom Api', 'api/dom')
                .collapsible-body
                    ul
                        +listItem('Messages', 'api/dom/messages')
            li
                +collapsible('Canvas Api', 'api/canvas')
                .collapsible-body
                    ul
                        +listItem('Components', 'api/canvas/component')
            li
                //- Examples
                +collapsible('Examples', 'examples')
                .collapsible-body
                    ul
                        +listItem('Ajax', 'examples/ajax')
                        +listItem('Clock', 'examples/clock')
                        +listItem('Timer', 'examples/timer')
                        +listItem('Template', 'examples/template')
                        +listItem('Component Color Changer', 'examples/component-toggle')
                        +listItem('Attribute Color Changer', 'examples/attributes')
                        +listItem('Observable', 'examples/observe')
                        +listItem('Interval', 'examples/interval')